# Віртуальне середовище Python
venv/
venv/*

# Файли Docker та локальні дані
mongo_data/

# Файли, що генеруються системою
__pycache__/
*.pyc

# Локальні файли конфігурації
*.env
.env

# Інші файли
Локальний Запуск Проєкту JobSwipe.txt
example.json